/* BASE CSS */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i&subset=latin-ext');

* {
	margin: 0;
	padding: 0;
}

html {
	width: 100vw;
	height: 100vh;
	font-size: 62.5%;
	line-height: 1.2;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
	font-size: 1.6rem;
	/* text-align: center; */
    padding-top: 54px;
	background-color: #eee;
	color: #333;
}

.container{
    /* height: 100vh; */
}
.img-home{
    height: 200px; 
    width: 100%; 
    display: block;
}

.card-content{
    max-width: 40rem; 
    max-height: 40rem;
}
.shadow-2dp {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.shadow-6dp {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
}
.center-text{
    text-align: center;
}

h1 {
    font-size: 2.8rem;
    font-variant: small-caps;
}

h2 {
    font-size: 1.8rem;
}
.center {
	height: 100%;
	width: 100%;
	overflow: scroll;
}

.shadow-4dp {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.navbar-brand {
    font-size: 2.8rem;
    font-variant: small-caps;
    text-shadow: 4px 4px 4px #aaa;
}

/* END BASE CSS */
/*  */
/*  */
/*  */
/* LOGIN */
.form-login {
width: 100%;
    flex-direction: column;
}
/* END LOGIN */
/*  */
/*  */
/*  */
/* MEDIA QUERIES */
  @media (min-width: 992px) {
    body {
      padding-top: 56px;
    }
  }
